# Ignore everything by default
*

# But include these:
!.gitignore
!README.md
!.zshrc
!.config/
!.config/nvim/
!.config/kitty/
!.config/fish/
!.config/neofetch/
!.doom.d/

# Ignore backup, large, or external folders
bak/
Downloads/
Pictures/
Documents/
scripts/
Game Project/
Music/
Movies/
Public/
Desktop/
Calibre Libraly/
Applications/
notes/
website/



